:root {
  --light: #e8f3ef;
  --dark: #373f47;
  --accent: #19d4a2;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background:  #a0cbbb;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  padding: 0;
}

.app {
  width: 0 auto;
  min-height: 100vh;
}

.button-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  margin: 1rem;
  color: var(--dark);
}

.button-container > button {
  padding: 0px;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #fff;
  color: var(--dark);
}

.button-container > button:hover {
  background-color: var(--light);
}

.output {
  grid-column: 1 / -1;
  background-color: var(--light);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.span-two {
  grid-column: span 2;
}

.span-three {
  grid-column: span 3;
}

#equal {
  background-color: var(--accent);
  color: var(--light);
}

#equal:hover {
  background-color: #15a57f;
}